/* src/sass/main.scss */
/* Variables */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.highlight {
  display: inline;
  position: relative;
}
.highlight::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 20px;
  background-color: #FFFFFF;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .highlight::after {
    bottom: 1px;
  }
}
.highlight__primary::after {
  background-color: #AACEDE;
}
.highlight__secondary::after {
  background-color: #ED8E00;
}

.img-class {
  max-width: 100%;
  height: 100%;
}

.noCssView {
  display: none;
}

@font-face {
  font-family: "codehills";
  src: url("../../icons/fonts/codehills.eot?l7bh2y");
  src: url("../../icons/fonts/codehills.eot?l7bh2y#iefix") format("embedded-opentype"), url("../../icons/fonts/codehills.ttf?l7bh2y") format("truetype"), url("../../icons/fonts/codehills.woff?l7bh2y") format("woff"), url("../../icons/fonts/codehills.svg?l7bh2y#codehills") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=iconCodehills-],
[class*=" iconCodehills-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "codehills" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconCodehills-envelope:before {
  content: "\e905";
}

.iconCodehills-location:before {
  content: "\e947";
}

.iconCodehills-instagram:before {
  content: "\ea92";
}

.iconCodehills-whatsapp:before {
  content: "\ea93";
}

.iconCodehills-spotify:before {
  content: "\ea94";
}

.iconCodehills-telegram:before {
  content: "\ea95";
}

.iconCodehills-rss2:before {
  content: "\ea9c";
}

.iconCodehills-youtube:before {
  content: "\ea9d";
}

.iconCodehills-vimeo2:before {
  content: "\eaa1";
}

.iconCodehills-github:before {
  content: "\eab0";
}

.iconCodehills-wordpress:before {
  content: "\eab4";
}

.iconCodehills-linkedin:before {
  content: "\eac9";
}

.iconCodehills-linkedin2:before {
  content: "\eaca";
}

.iconCodehills-stackoverflow:before {
  content: "\ead0";
}

.iconCodehills-keyboard_arrow_up:before {
  content: "\e900";
}

.iconCodehills-keyboard_arrow_right:before {
  content: "\e901";
}

.iconCodehills-keyboard_arrow_left:before {
  content: "\e902";
}

.iconCodehills-keyboard_arrow_down:before {
  content: "\e903";
}

.iconCodehills-menu:before {
  content: "\e904";
}

.coming-soon {
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fff;
}
.coming-soon__slideShow {
  position: relative;
}
.coming-soon__slideShow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 5;
}
.coming-soon__slideShow--wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.coming-soon__slideShow--slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.coming-soon__slideShow--slide-active {
  opacity: 1;
}
.coming-soon__slideShow--slide-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.coming-soon__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  max-width: 50%;
  color: #FFFFFF;
  z-index: 10;
}
.coming-soon__content--welcome {
  display: block;
  margin-bottom: 40px;
}
.coming-soon__content--welcome-title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
}
.coming-soon__content--welcome-logo {
  width: 415px;
  height: 120px;
  margin-left: 60px;
}
.coming-soon__content--description {
  margin-bottom: 40px;
}
.coming-soon__content--description-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}
.coming-soon__content--launching-soon {
  display: block;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .coming-soon__content {
    top: 0;
    transform: none;
    max-width: 100%;
    left: 0;
    padding: 20px;
  }
  .coming-soon__content--welcome {
    margin-bottom: 30px;
  }
  .coming-soon__content--welcome-title {
    font-size: 30px;
  }
  .coming-soon__content--welcome-logo {
    width: 300px;
    height: 80px;
    margin-left: 40px;
  }
  .coming-soon__content--description {
    margin-bottom: 20px;
  }
  .coming-soon__content--description-text {
    font-size: 18px;
  }
  .coming-soon__content--launching-soon {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .coming-soon__content--welcome {
    margin-bottom: 20px;
  }
  .coming-soon__content--welcome-title {
    font-size: 25px;
  }
  .coming-soon__content--welcome-logo {
    width: 200px;
    height: 60px;
    margin-left: 20px;
  }
  .coming-soon__content--description {
    margin-bottom: 10px;
  }
  .coming-soon__content--description-text {
    font-size: 14px;
  }
  .coming-soon__content--launching-soon {
    font-size: 16px;
  }
}
.coming-soon__contact-info {
  position: absolute;
  right: -200px;
  bottom: -400px;
  padding: 20px;
  background: rgba(147, 190, 59, 0.8);
  z-index: 6;
  display: inline-block;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
.coming-soon__contact-info--list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 60px));
  left: 50px;
  z-index: 2;
}
.coming-soon__contact-info--list-item {
  display: inline-block;
}
.coming-soon__contact-info--list-item:not(:last-child) {
  margin-bottom: 20px;
}
.coming-soon__contact-info--link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.coming-soon__contact-info--icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 24px;
}
.coming-soon__contact-info--text {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.coming-soon__contact-info--graphic {
  position: absolute;
  width: 500px;
  height: 300px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .coming-soon__contact-info {
    width: calc(var(--screen-width) + 100px);
    height: calc(var(--screen-width) + 100px);
    right: 50%;
    bottom: 0;
    padding: 0;
    top: 100%;
    transform: translateY(-50%) translateX(50%);
  }
  .coming-soon__contact-info--list {
    left: 60px;
  }
  .coming-soon__contact-info--text {
    font-size: 16px;
  }
  .coming-soon__contact-info--icon {
    font-size: 20px;
  }
  .coming-soon__contact-info--graphic {
    top: 10px;
    right: 0;
    transform: none;
    width: var(--screen-width);
    height: calc(var(--screen-width) / 2);
    opacity: 0.8;
  }
}
@media screen and (max-width: 375px) {
  .coming-soon__contact-info--text {
    font-size: 14px;
  }
  .coming-soon__contact-info--icon {
    font-size: 16px;
  }
  .coming-soon__contact-info--graphic {
    top: -20px;
  }
}
@media screen and (max-width: 1024px) {
  .coming-soon--landscape .coming-soon__content {
    top: 20px;
    transform: none;
  }
  .coming-soon--landscape .coming-soon__content--welcome {
    margin-bottom: 20px;
  }
  .coming-soon--landscape .coming-soon__content--welcome-title {
    font-size: 30px;
  }
  .coming-soon--landscape .coming-soon__content--welcome-logo {
    width: 200px;
    height: 50px;
    margin-left: 20px;
  }
  .coming-soon--landscape .coming-soon__content--description {
    margin-bottom: 10px;
  }
  .coming-soon--landscape .coming-soon__content--description-text {
    font-size: 14px;
  }
  .coming-soon--landscape .coming-soon__content--launching-soon {
    font-size: 16px;
  }
  .coming-soon--landscape .coming-soon__contact-info {
    right: calc(-1 * var(--screen-height) / 2);
    bottom: calc(-1 * var(--screen-height) / 2);
    width: calc(var(--screen-height) + 100px);
    height: calc(var(--screen-height) + 100px);
    padding: 5px;
  }
  .coming-soon--landscape .coming-soon__contact-info--list {
    left: 20px;
    transform: translateY(-50%);
  }
  .coming-soon--landscape .coming-soon__contact-info--text {
    font-size: 14px;
  }
  .coming-soon--landscape .coming-soon__contact-info--icon {
    font-size: 18px;
  }
  .coming-soon--landscape .coming-soon__contact-info--graphic {
    top: 20px;
    right: 50%;
    transform: translateX(calc(50% - 20px));
    width: var(--screen-height);
    height: calc(var(--screen-height) / 2);
    opacity: 0.8;
  }
}
@media screen and (max-width: 768px) {
  .coming-soon--landscape .coming-soon__content {
    top: 10px;
    max-width: 55%;
  }
  .coming-soon--landscape .coming-soon__content--welcome {
    margin-bottom: 10px;
  }
  .coming-soon--landscape .coming-soon__content--welcome-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .coming-soon--landscape .coming-soon__content--welcome-logo {
    width: 100px;
    height: 40px;
    margin-left: 10px;
  }
  .coming-soon--landscape .coming-soon__content--description-text {
    font-size: 12px;
  }
  .coming-soon--landscape .coming-soon__content--launching-soon {
    font-size: 14px;
  }
  .coming-soon--landscape .coming-soon__contact-info {
    right: -10px;
    bottom: -10px;
    width: calc(var(--screen-width) - 100px);
    height: calc(var(--screen-width) - 100px);
  }
  .coming-soon--landscape .coming-soon__contact-info--list {
    left: 20px;
    transform: translateY(calc(-50% - 50px));
  }
  .coming-soon--landscape .coming-soon__contact-info--list-item {
    display: inline-block;
  }
  .coming-soon--landscape .coming-soon__contact-info--list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .coming-soon--landscape .coming-soon__contact-info--text {
    font-size: 12px;
  }
  .coming-soon--landscape .coming-soon__contact-info--icon {
    font-size: 14px;
  }
  .coming-soon--landscape .coming-soon__contact-info--graphic {
    transform: translateX(calc(50% - 45px));
  }
}

/* Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}