/* src/sass/main.scss */
/* Variables */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.highlight {
  display: inline;
  position: relative;
}
.highlight::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 20px;
  background-color: #FFFFFF;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .highlight::after {
    bottom: 1px;
  }
}
.highlight__primary::after {
  background-color: #AACEDE;
}
.highlight__secondary::after {
  background-color: #ED8E00;
}

.img-class {
  max-width: 100%;
  height: 100%;
}

.noCssView {
  display: none;
}

@font-face {
  font-family: "codehills";
  src: url("../../icons/fonts/codehills.eot?l7bh2y");
  src: url("../../icons/fonts/codehills.eot?l7bh2y#iefix") format("embedded-opentype"), url("../../icons/fonts/codehills.ttf?l7bh2y") format("truetype"), url("../../icons/fonts/codehills.woff?l7bh2y") format("woff"), url("../../icons/fonts/codehills.svg?l7bh2y#codehills") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=iconCodehills-],
[class*=" iconCodehills-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "codehills" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconCodehills-keyboard_arrow_up:before {
  content: "\e900";
}

.iconCodehills-keyboard_arrow_right:before {
  content: "\e901";
}

.iconCodehills-keyboard_arrow_left:before {
  content: "\e902";
}

.iconCodehills-keyboard_arrow_down:before {
  content: "\e903";
}

.iconCodehills-menu:before {
  content: "\e904";
}

.iconCodehills-instagram:before {
  content: "\ea92";
}

.iconCodehills-whatsapp:before {
  content: "\ea93";
}

.iconCodehills-spotify:before {
  content: "\ea94";
}

.iconCodehills-telegram:before {
  content: "\ea95";
}

.iconCodehills-rss2:before {
  content: "\ea9c";
}

.iconCodehills-youtube:before {
  content: "\ea9d";
}

.iconCodehills-vimeo2:before {
  content: "\eaa1";
}

.iconCodehills-github:before {
  content: "\eab0";
}

.iconCodehills-wordpress:before {
  content: "\eab4";
}

.iconCodehills-linkedin2:before {
  content: "\eaca";
}

.iconCodehills-stackoverflow:before {
  content: "\ead0";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 30px;
  background-color: #000000;
  border-bottom: 1px solid #FFFFFF;
  overflow: hidden;
}
.header__logo {
  display: inline-block;
  height: 30px;
  width: 226px;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__navigation-menu--item {
  position: relative;
  display: inline-block;
  padding-top: 31px;
  padding-bottom: 32px;
}
.header__navigation-menu--item:not(:last-child) {
  margin-right: 28px;
}
.header__navigation-menu--item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  transform: translateY(7px);
  opacity: 0;
  background-color: #AACEDE;
  transition: all 0.4s ease;
}
.header__navigation-menu--item:hover::after {
  transform: translateY(-1px);
  opacity: 1;
}
.header__navigation-menu--link {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.header__navigation-menu--link:hover {
  color: #AACEDE;
}
@media screen and (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}
.header__hamburger-menu {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
@media screen and (min-width: 1025px) {
  .header__hamburger-menu {
    display: none;
  }
}

.hero-banner {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.hero-banner__item {
  position: relative;
}
.hero-banner__item--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-banner__item--content-text {
  display: inline-block;
  padding-top: 130px;
  padding-bottom: 86px;
  padding-left: 30px;
  font-size: 70px;
  font-weight: 700;
  color: #FFFFFF;
}
.hero-banner__item--content-link {
  display: block;
  padding-left: 30px;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .hero-banner__item--content-text {
    font-size: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero-banner__item--content-link {
    font-size: 25px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.hero-banner__item--image {
  position: relative;
  display: block;
  width: 100%;
  height: 650px;
  object-fit: cover;
}
.hero-banner__item--image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 43, 47, 0.6);
}
.hero-banner__item--image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-banner .swiper-pagination {
  position: absolute;
  right: 30px;
  bottom: 25px;
  left: unset;
  width: auto;
}
.hero-banner .swiper-pagination-bullet {
  display: inline-block;
  margin-left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  opacity: 1;
  transition: all 0.4s ease;
}
.hero-banner .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px;
}
.hero-banner .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #ED8E00;
  border-radius: 50px;
}

.support-content {
  max-width: 913px;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  .support-content {
    max-width: 317px;
  }
}
.support-content__top-text, .support-content__bottom-text {
  font-size: 30px;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px 107px;
}
@media only screen and (max-width: 480px) {
  .support-content__top-text, .support-content__bottom-text {
    font-size: 18px;
    margin: 0;
  }
}
.support-content__top-text {
  margin-bottom: 89px;
  margin-top: 89px !important;
}
.support-content__bottom-text {
  margin-top: 89px;
}
.support-content .middle {
  display: relative;
}
.support-content__container {
  position: relative;
  height: 40px;
}
.support-content .text {
  position: absolute;
  top: -1;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  font-weight: bold;
  color: #232b2f;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  .support-content .text {
    font-size: 50px;
  }
}
.support-content .background {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: #aacede;
  margin: 0px 11px 11px 26px;
}

.expertise {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232B2F;
  overflow: hidden;
  position: relative;
}
.expertise .expertise-title {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  position: relative;
  margin-top: 111px;
  padding-left: 20px;
  font-size: 46px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 110px;
  align-self: center;
}
.expertise .expertise-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(15deg);
  width: 6px;
  height: 90%;
  background-color: #ED8E00;
}
@media (max-width: 768px) {
  .expertise .expertise-title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
  }
}
.expertise .expertise-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 33px;
  margin: 0px 10px 100px 10px;
}
@media (max-width: 768px) {
  .expertise .expertise-container {
    margin: 0px 10px 50px 10px;
  }
}
.expertise .area {
  font-family: "Montserrat", sans-serif;
  padding: 42px;
  width: 250px;
  height: 284px;
  border-radius: 20px;
  z-index: 2;
}
@media (max-width: 768px) {
  .expertise .area {
    padding: 21px;
    width: 240px;
    height: 274px;
    margin: 0;
  }
}
.expertise .area svg {
  margin-bottom: 18px;
  height: 48px;
  width: 54px;
}
.expertise .area h2 {
  color: #232B2F;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
.expertise .area p {
  color: #232B2F;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.expertise .area-odd {
  background: #AACEDE;
  margin: 0px 0px 0px 15px;
}
.expertise .area-even {
  background: #ED8E00;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .expertise .area-even {
    margin: 0px 0px 0px 100px;
  }
}
.expertise .curved-lines {
  position: absolute;
  right: 0%;
  height: 1004px;
}
@media (max-width: 768px) {
  .expertise .curved-lines {
    top: 35%;
    height: 55%;
    right: -120%;
  }
}

/* Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}