/* src/sass/main.scss */

/* fonts import */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Presets */

$title-color: #ffffff;
$text-color: #000000;
$blue-color: #aacede;
$orange-color: #ed8e00;

/* Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $title-color;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 121.9px;
  color: $title-color;
  font-weight: 700;
  font-size: 100px;
}

p {
  color: $text-color;
  font-family: "Montserrat", sans-serif;
  line-height: 36px;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

