.highlight {
    display: block;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        height: 20px;
        background-color: $color-white;
        z-index: -1;
    }

    &__primary {
        &::after {
            background-color: $color-blue;
        }
    }

    &__secondary {
        &::after {
            background-color: $color-orange;
        }
    }
}