.coming-soon {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #fff;

    $self: &;

    &__slideShow {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 5;
        }

        &--wrapper {
            position: relative;
            height: 100vh;
            width: 100vw;
        }

        &--slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease;

            &-active {
                opacity: 1;
            }

            &-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        max-width: 50%;
        color: $color-white;
        z-index: 10;

        &--welcome {
            display: block;
            margin-bottom: 40px;

            &-title {
                font-size: 44px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            &-logo {
                width: 415px;
                height: 120px;
                margin-left: 60px;
            }
        }

        &--description {
            margin-bottom: 40px;

            &-text {
                font-size: 22px;
                font-weight: 500;
                line-height: 1.5;
            }
        }

        &--launching-soon {
            display: block;
            font-size: 25px;
            font-weight: 600;
            font-style: italic;
        }

        @media screen and (max-width: 768px) {
            top: 0;
            transform: none;
            max-width: 100%;
            left: 0;
            padding: 20px;

            &--welcome {
                margin-bottom: 30px;

                &-title {
                    font-size: 30px;
                }

                &-logo {
                    width: 300px;
                    height: 80px;
                    margin-left: 40px;
                }
            }

            &--description {
                margin-bottom: 20px;

                &-text {
                    font-size: 18px;
                }
            }

            &--launching-soon {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 375px) {
            &--welcome {
                margin-bottom: 20px;

                &-title {
                    font-size: 25px;
                }

                &-logo {
                    width: 200px;
                    height: 60px;
                    margin-left: 20px;
                }
            }

            &--description {
                margin-bottom: 10px;

                &-text {
                    font-size: 14px;
                }
            }

            &--launching-soon {
                font-size: 16px;
            }
        }
    }

    &__contact-info {
        position: absolute;
        right: -200px;
        bottom: -400px;
        padding: 20px;
        background: rgba($color-green, 0.8);
        z-index: 6;
        display: inline-block;
        width: 800px;
        height: 800px;
        border-radius: 50%;

        &--list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            transform: translateY(calc(-50% - 60px));
            left: 50px;
            z-index: 2;

            &-item {
                display: inline-block;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }

        &--link {
            display: flex;
            align-items: center;
            color: $color-dark;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

        &--icon {
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            font-size: 24px;
        }

        &--text {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            font-weight: 600;
            text-decoration: underline;
        }

        &--graphic {
            position: absolute;
            width: 500px;
            height: 300px;
            right: 50%;
            transform: translateX(calc(50%));
            z-index: 1;
        }

        @media screen and (max-width: 768px) {
            width: calc(var(--screen-width) + 100px);
            height: calc(var(--screen-width) + 100px);
            right: 50%;
            bottom: 0;
            padding: 0;
            top: 100%;
            transform: translateY(-50%) translateX(50%);

            &--list {
                left: 60px;
            }

            &--text {
                font-size: 16px;
            }

            &--icon {
                font-size: 20px;
            }

            &--graphic {
                top: 10px;
                right: 0;
                transform: none;
                width: var(--screen-width);
                height: calc(var(--screen-width) / 2);
                opacity: 0.8;
            }
        }

        @media screen and (max-width: 375px) {
            &--text {
                font-size: 14px;
            }

            &--icon {
                font-size: 16px;
            }

            &--graphic {
                top: -20px;
            }
        }
    }

    //handle landscape mode
    @media screen and (max-width:1024px) {
        &--landscape {
            #{$self}__content {
                top: 20px;
                transform: none;

                &--welcome {
                    margin-bottom: 20px;

                    &-title {
                        font-size: 30px;
                    }

                    &-logo {
                        width: 200px;
                        height: 50px;
                        margin-left: 20px;
                    }
                }

                &--description {
                    margin-bottom: 10px;

                    &-text {
                        font-size: 14px;
                    }
                }

                &--launching-soon {
                    font-size: 16px;
                }
            }

            #{$self}__contact-info {
                right: calc(-1 * var(--screen-height) / 2);
                bottom: calc(-1 * var(--screen-height) / 2);
                width: calc(var(--screen-height) + 100px);
                height: calc(var(--screen-height) + 100px);
                padding: 5px;

                &--list {
                    left: 20px;
                    transform: translateY(-50%);
                }

                &--text {
                    font-size: 14px;
                }

                &--icon {
                    font-size: 18px;
                }

                &--graphic {
                    top: 20px;
                    right: 50%;
                    transform: translateX(calc(50% - 20px));
                    width: var(--screen-height);
                    height: calc(var(--screen-height) / 2);
                    opacity: 0.8;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        &--landscape {
            #{$self}__content {
                top: 10px;
                max-width: 55%;

                &--welcome {
                    margin-bottom: 10px;
                    
                    &-title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    &-logo {
                        width: 100px;
                        height: 40px;
                        margin-left: 10px;
                    }
                }

                &--description {
                    &-text {
                        font-size: 12px;
                    }
                }

                &--launching-soon {
                    font-size: 14px;
                }
            }

            #{$self}__contact-info {
                right: -10px;
                bottom: -10px;
                width: calc(var(--screen-width) - 100px);
                height: calc(var(--screen-width) - 100px);

                &--list {
                    left: 20px;
                    transform: translateY(calc(-50% - 50px));

                    &-item {
                        display: inline-block;

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                &--text {
                    font-size: 12px;
                }

                &--icon {
                    font-size: 14px;
                }

                &--graphic {
                    transform: translateX(calc(50% - 45px));
                }
            }
        }
    }
}
