.support-content {
    max-width: 913px;
    margin: auto;
    @media only screen and (max-width: 480px) {
      max-width: 317px;
    }
    &__top-text,
    &__bottom-text {
      font-size: 30px;
      font-weight: 300;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0px 107px;
      @media only screen and (max-width: 480px) {
        font-size: 18px;
        margin: 0;
      }
    }
    &__top-text {
      margin-bottom: 89px;
      margin-top: 89px !important;
    }
    &__bottom-text {
      margin-top: 89px;
    }
    .middle {
      display: relative;
    }
    &__container {
      position: relative;
      height: 40px;
    }
  
    .text {
      position: absolute;
      top: -1;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      font-weight: bold;
      color: #232b2f;
      font-size: 75px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      z-index: 1;
      @media only screen and (max-width: 480px) {
        font-size: 50px;
      }
    }
  
    .background {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      height: 20px;
      background-color: #aacede;
      margin: 0px 11px 11px 26px;
    }
  }