.highlight {
    display: inline;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        height: 20px;
        background-color: $color-white;
        z-index: -1;
    }

    @media screen and (max-width: 1024px) {
        &::after {
            bottom: 1px;
        }
    }

    &__primary {
        &::after {
            background-color: $color-blue;
        }
    }

    &__secondary {
        &::after {
            background-color: $color-orange;
        }
    }
}

.img-class {
    max-width: 100%;
    height: 100%;
}

.noCssView {
    display: none;
}
