/* Variables */

// colors
$primary-color: #93BE3B;
$color-white: #FFFFFF;
$color-dark: #000000;
$color-dark-white: #232B2F;
$color-blue: #AACEDE;
// fonts
$font-family-default: 'Montserrat',
sans-serif;
