/* src/sass/main.scss */

@import './variables';
@import './typography';
@import './utilities';
@import './icons';
@import './header';
@import './hero-banner';
@import './support';
@import './expertise-card';
@import './our-sisters';

/* Styles */

body {
    font-family: $font-family-default;
    margin: 0;
    padding: 0;
    background-color: $color-white;
}
